<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" [routerLink]="['/']">Giphy App</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="nav-item" [routerLinkActive]="['active']">
					<a class="nav-link" [routerLink]="['/trending']">Trending</a></li>
				<li class="nav-item" [routerLinkActive]="['active']">
					<a class="nav-link" [routerLink]="['/search']">Search</a></li>
			</ul>
		</div>
	</div>
</nav>
