<div class="container">
	<div class="starter-template">
		<h1>Giphy App</h1>
		<p class="lead">This app uses the JSON API provided by Giphy
		to Browse and Search Gifs.
		<br>To know more checkout: 
		<a href="https://github.com/Giphy/GiphyAPI#trending-gifs-endpoint">Giphy API</a></p>
	</div>

  <app-gif-viewr class="home" [imgUrl]="gif"></app-gif-viewr>
</div>
